@model CRUDproject.ViewModels.ViewOrdersViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ViewOrder", "ViewOrders", FormMethod.Post))
        {
            <table id="SearchWhere" style="border:none;">
                <tr>
                    <td style="border:none;">
                        <label for="StartDate">訂單起始日</label>
                        <input type="text" class="form-control" id="StartDate" name="StartDate" value="@Model.StartDate"/>
                        <label for="EndDate">訂單結束日</label>
                        <input type="text" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate" />
                        <input class="btn btn-primary" type="submit" id="SearchOrders" value="查詢" />
                    </td>
                </tr>
            </table>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>客戶名稱</th>
                        <th>客戶聯絡人名稱</th>
                        <th>業務名稱</th>
                        <th>訂單日期</th>
                        <th>需求日期</th>
                        <th>處理方式</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderList != null && Model.OrderList.Any())
                    {
                        foreach (var item in Model.OrderList)
                        {
                            <tr>
                                <td>@item.OrderID</td>
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerContractName</td>
                                <td>@item.EmployeeName</td>
                                <td>@item.OrderDate.ToString("yyyyMMdd")</td>
                                <td>@item.RequiredDate.ToString("yyyyMMdd")</td>
                                <td>
                                    <a href="#" class="DeleteItem">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    <a href="/Update/UpdateOrders?OrderID=@item.OrderID" class="EditItem">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <input type="hidden" id="OrderID" value="@item.OrderID"/>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" style="text-align:center;">查無資料</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
    @Scripts.Render("~/Scripts/InsideUsed/ViewOrders.js")
</body>
</html>
